In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\ashwi\Downloads\loan_data.csv")
df.head(10)

C:\Users\ashwi\AppData\Local\Temp\ipykernel_3656\1861737435.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\ashwi\Downloads\loan_data.csv")

,BORROWER_NAME,CITY,STATE,ZIP,BANK,BANK_STATE,INDUSTRY_ID,APPROVAL_DATE,APPROVAL_YEAR,TERM,...,TREASURY_YIELD,CPI_INDEX,GDP,MORTGAGE_30_US_FIXED,UNRATE,INDPRO_INDEX,UMCSENT_INDEX,CSUSHPINSA_INDEX,CP_INDEX,FEDFUNDS_RATE
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
5,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,28-Feb-97,1997,120,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
6,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,45,...,11.4600,82.383333,2857.3085,13.742115,7.175000,50.29545,64.416667,NaN,206.83975,13.355833
7,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,84,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
8,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,297,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000
9,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,84,...,6.3525,160.525000,8577.5525,7.598846,4.941667,80.56905,103.216667,85.317417,592.26625,5.460000

In [5]:
df.columns

Index(['BORROWER_NAME', 'CITY', 'STATE', 'ZIP', 'BANK', 'BANK_STATE',
       'INDUSTRY_ID', 'APPROVAL_DATE', 'APPROVAL_YEAR', 'TERM',
       'EMPLOYEE_COUNT', 'IS_NEW', 'JOBS_CREATED_COUNT', 'JOBS_RETAINED_COUNT',
       'FRANCHISE_CODE', 'IS_URBAN', 'IS_REVOLVER', 'IS_LOW_DOC',
       'DEFAULT_DATE', 'DISBURSEMENT_DATE', 'DISBURSEMENT_AMOUNT',
       'BALANCE_AMOUNT', 'LOAN_STATUS', 'CHARGE_OFF_AMOUNT', 'LOAN_AMOUNT',
       'SBA_APPROVED_AMOUNT', 'TREASURY_YIELD', 'CPI_INDEX', 'GDP',
       'MORTGAGE_30_US_FIXED', 'UNRATE', 'INDPRO_INDEX', 'UMCSENT_INDEX',
       'CSUSHPINSA_INDEX', 'CP_INDEX', 'FEDFUNDS_RATE'],
      dtype='object')

In [12]:
df[df['APPROVAL_YEAR'] < 1996]

TypeError: cannot convert the series to <class 'int'>